@import "null";
@import "fonts";
@import "variables";
@import "root";


html, body {
  font-family: Raleway, serif;
  background-image: url('../assets/files/background.png');
  background-color: $b-color;
}

@mixin sizes($h:none, $w:none) {
  height: $h; width: $w;
}

@mixin flex-settings($j-content:center, $a-items:none) {
  display: flex;
  justify-content: $j-content;
  align-items: $a-items;
}

