@import "null";
@import "fonts";
@import "variables";
@import "root";
@import "layouts";


html, body {
  font-family: Raleway, sans-serif;
  background-color: $b-color;
  position: relative;
  margin: 0 auto;
  @extend %main_sizes
}

