@import "src/styles/index";

.leaders_container {
  border: $markup;
  padding: 45px 0 0 125px;
  @include sizes($h: 550px);
  overflow:hidden;
  background: #121f4d no-repeat top right url('../../assets/files/leaders_background.png');
  .carousel_container {
    margin: 72px 0 0 0;
   @include carousel;
    .switch {
      margin: 42px 0 0 0;
      @include flex-settings($j-content:none, $a-items:center);
      .line {
        margin: 0 30px;
      }
    }
  }

}
// import Arrow_right from '../../assets/files/arrow_right.png'