@import "src/styles/index";

.intro_container {
  padding:148px 0 0 125px;
  background: $b-color top center no-repeat url('../../assets/files/background.png');
  height: 810px;
  .intro {
    border: $markup;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 242px;
    line-height: 140%;
    .button {
      height: 50px;
      background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
      border: 1px solid #000000;
      border-radius: 50px;
      width: 279px;
    }
  }
  .meaning_block {
    border: $markup;
    margin-top: 185px;
    .ul {
      line-height: 2.3em;
      padding-left: 25px;
      list-style-image: url('../../assets/files/marker.png');
      li {
        border: $markup;
        padding-left: 15px;
      }
    }
  }
  .notification {
    margin: 42px 0 0 120px;
    border: $markup;
    width: 675px;
    height: 62px;
    line-height: 140%;
    padding: 24px 16px;
    text-align: center;
    border-radius: 11px;
    background: linear-gradient(90.92deg, #C89AFC -20.7%, #7C6AFA 111.12%);
  }
}
