@import "src/styles/index";

.intro_container {
  border: $markup;
  padding:148px 0 0 125px;
  background: $b-color top center no-repeat url('../../assets/files/background.png');
  -moz-background-size: 100%;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  height: 810px;
  .intro {
    border: $markup;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 242px;
    line-height: 140%;
    width: max-content;
  }
  .meaning_block {
    border: $markup;
    margin-top: 150px;
    width: max-content;
    .ul {
      line-height: 2.3em;
      padding-left: 25px;
      list-style-image: url('../../assets/files/marker.png');
      li {
        border: $markup;
        padding-left: 15px;
      }
    }
  }
  .notification {
    margin: 50px 0 0 15%;
    border: $markup;
    width: 60%;
    //height: 62px;
    line-height: 140%;
    padding: 24px 16px;
    text-align: center;
    border-radius: 11px;
    background: linear-gradient(90.92deg, #C89AFC -20.7%, #7C6AFA 111.12%);
  }
}
