@import "src/styles/variables";
@import "../../styles/layouts";

.footer {
  border: $markup;
  @include sizes($h:140px);
  @extend %main_sizes;
  display: flex;
  flex-wrap: wrap;
  flex-flow: wrap;
  justify-content: center;
  padding-top: 50px;
  h2 {
    border: $markup;

  }
  .footer_button {

  }

}