@import "src/styles/index";
.footer {
  border: $markup;
  height: 115px;
  padding: 80px 0 0 0;
  display: flex;
  justify-content: center;
  .h2 {

  }
  .footer_button {
    margin-left: 150px;
  }

}